<include file="header" />

<body>
<!-- <div id="guess">
	Coming Soon...
</div> -->
<div>
<!-- <present name="word">word已经存在<else />word不存在</present><br/>
<present name="Think.get.user">$_Get['user']已经存在<else />user不存在</present><br/> -->
<!-- <empty name="word">word为空<else />word不为空:{$word}</empty> -->

<!-- <ul>
	<volist name="data" id="arr">
		<li>{$i}.{$arr['username']} 说 ：{$arr['content']}</li>
	</volist>
</ul> -->

<!-- <assign name="good_id" value="1412"/>
{$good_id} -->



<taglib name="mylib" />
<mylib:mytest color="#9922cc" border="1">你好吗？我很好</mylib:mytest>
</div>
<include file="footer" />
