<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<title>{$title}</title>
<style type="text/css">
	.table{
		border: 1px solid #ccc;border-collapse: collapse; width:100%;
	}
	.table th,.table td{
		border: 1px solid #ccc;padding: 2px;
	}
	.table th,.text_right{
		text-align: right;
	}
	.input_text{
		width:95%;
		border:none;
		border-bottom: 1px #775599 solid;
	}
	.content{
		width: 95%;
		height: 100px;
	}
	.submit{
		text-align: center;
	}
</style>
<script src="__ROOT__/Public/js/ckeditor44/ckeditor.js"></script>
<script src="__ROOT__/Public/js/ckfinder/ckfinder.js"></script>

</head>
<body>
<form id="btitle" name="btitle" method="post" action="__CONTROLLER__/boadcontent_save/">
<table class="table">
	<tr>
	<td scope="row"><a href="__CONTROLLER__/boadlist/id/{$info.tid}">返回内容列表</a></td>
	<if condition="$act eq 'update'">
	<td scope="row" class="text_right"><a href="__CONTROLLER__/boadcontent/tid/{$info.tid}">新增直播内容</a></td>
	<else/>
	<td class="text_right">新增</td>
	</if>
    
    </tr>
    <tr style="height:20px;">
    	
    </tr>
  
  <tr>
    <td colspan="2"><textarea class="content" name="content" id="content" >{$info.content}</textarea></td>
  </tr>
  <tr>
    <th scope="row" width="28%">顶</th>
    <td><input name="dig" type="text" value="{$info.dig}" /></td>
  </tr>
  <tr>
    <th scope="row">时间</th>
    <td><input  name="uptime" type="text" value="{$info.uptime}" /></td>
  </tr>
  <tr>
    <td colspan="2" scope="row" class="submit">
    	<input type="submit" name="button" id="button" value="提交" />
    	<input type="hidden" name="id" value="{$info.id}" />
    	<input type="hidden" name="tid" value="{$info.tid}" />
    	<input type="hidden" name="act" value="{$act}" />
    </td>
    </tr>
</table>
<script>
    var editor = CKEDITOR.replace( 'content' ,{
    	//uiColor: '#9AB8F3',
    	height:300,
    	filebrowserBrowseUrl : '__PUBLIC__/js/ckfinder/ckfinder.html',
    	filebrowserImageBrowseUrl : '__PUBLIC__/js/ckfinder/ckfinder.html?Type=Images',
    	filebrowserFlashBrowseUrl : '__PUBLIC__/js/ckfinder/ckfinder.html?Type=Flash',
    	filebrowserUploadUrl : '__PUBLIC__/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
    	filebrowserImageUploadUrl : '__PUBLIC__/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
    	filebrowserFlashUploadUrl : '__PUBLIC__/js/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash',
    });
    CKFinder.setupCKEditor(editor, 'ckfinder/');
</script>
</form>
</body>
</html>